/*importation de police via google font*/
@import url(http://fonts.googleapis.com/css?family=Coda:400,800);

/******************************************************************/


body{

    font-family: 'Source San Pro', sans-serif;
    margin:0;
    padding:0;
    font-size: 12pt;

}

.image{
    width:100%;
}


div, ul, li, img, header, footer, nav, body {
    margin:0;
    padding:0;
}


/*******************************************************MENU***************************************************************************/

header {
    position: relative;
}

header .menuTop {
    position:absolute;
    width: 100%;
    bottom: 0px;
    border-top: 1px ridge;
    border-bottom: 1px ridge;
    background-color:rgba(24, 24, 24, 0.89);
    z-index:1;
}
header .menuTop .menu .itemMenu /*mode d'apparition des liens*/
{
    display: inline-block;
    text-shadow: 3px 3px 6px #000000;
    position:relative;
    border-bottom: 5px solid transparent;
    width: 16%;
}

header .menuTop .menu .itemMenu a /*apparence des liens*/
{
    text-decoration: none;
    color:#8c8c8c;
}

header .menuTop .menu .itemMenu .menuLink .menuLinkContent {
    text-align: center;
    height: 30px;
    padding-top: 15px;
}

header .menuTop .menu .itemMenu:hover /*apparence survol des lien*/
{
    order: solid;
    border-bottom: 5px solid  #ff7011;
}

/************************SOUS MENU***************************************/

header .menuTop .menu .itemMenu .subMenu {
    display:none;
    position:absolute;
    top: 50px;
    left:0px;
    width:100%;
    padding-left:0px;
    list-style:none;
    background-color: #181818;
}

header .menuTop .menu .itemMenu:hover .subMenu {
    display:block;
}
header .menuTop .menu .itemMenu:hover .subMenu .itemSubMenu {
    border 1px none;
}
header .menuTop .menu .itemMenu:hover .subMenu .itemSubMenu:hover {
    border:1px solid #000;
    background-color:#2A2A2A;
}
header .menuTop .menu .itemMenu:hover .subMenu .itemSubMenu .subMenuLink .subMenuLinkContent {
    padding:6%
}




/**************************MENU CONNEXION/INSCRIPTION*****************/
.C_I {
    position: absolute;
    text-align:right;
    z-index: 1;
    background-color: rgba(33, 33, 33, 0.85);
    margin: 2%;
    top: 0px;
    right: 0px;
}
.C_I ul li /*mode d'apparition des liens*/
{
    display: inline-block;
    font-size:80%;
    text-shadow: 2px 2px 4px #000000;
}
.C_I ul a /*apparence des liens*/
{
    text-decoration: none;
    color:#2b2b2b;
}
.C_I ul a .btnC_I {
    width: 100px;
    text-align: center;
    padding: 10% 0px;
    color: #FFF;
}
.C_I ul a .btnC_I:hover {
    background-color: #353535;
}


 /**************************TITRE*************************/

header #titre {
    position: absolute;
    font-family:'Bit Trip7 (sRB)', 'calibri', sans-serif;
    font-size: 100%;
    bottom: 24%;
    left: 9%;
    z-index: 1;
}

/***********************************************FOOTER*********************************************************************************/

footer{
    background-color:#222222;
    position: relative;
  clear:both;
  margin-top: -150px;
  height: 150px


}

.icones li {

    display:inline;
}


.contact{

    position: absolute;
    color: #ededed;
    font-size:90%;
    position:absolute;
        top:15%;
        right:8%;
}

.contact a{
    text-decoration: none;
    color:#f0e1df;

}

.contact a:hover {

    color:#d86132;
    font-style: italic;
}

.partenaires{

    font-size:90%;
    color: #ededed;
    position:absolute;
        top:15%;
        left:8%;

}

.partenaires a{
    text-decoration: none;
    color:#f0e1df;

}

.partenaires a:hover {

    color:#d86132;
    font-style: italic;
}


.copyright{

        color: #ededed;
        font-size:80%;
        position: absolute;
            bottom:77%;
            left:35%;

}

.mentions{

    background-color:#1a1a1a;

}

.mentions a{
    text-decoration: none;
    color:#fefefe;
}

.mentions a:hover{

    color:#d86132;
    font-style: italic;
}

.Conn{
    color:#fefefe;
    text-decoration: none;
    position:absolute;
        top:5%;
        left:20%;
}

.Conn a{
    text-decoration: none;
    color:#fefefe;
}

.Conn a:hover{

    color:#d86132;
    font-style: italic;

}




.Ins{
    color:#fefefe;
    text-decoration: none;
    position:absolute;
        top:5%;
        right:20%;
}

.Ins a{
    text-decoration: none;
    color:#fefefe;
}

.Ins a:hover{

    color:#d86132;
    font-style: italic;

}

.lien1{

    padding-left:10%;

}

.lien2{
padding:1%;
/*Border-Style: solid;
Border-Color: Silver;
Border-Width: 1pt;*/
background-color:#686868;
}




/**************ICONE*****************************************/
