/*importation de police via google font*/
@import url(http://fonts.googleapis.com/css?family=Coda:400,800);

/******************************************************************************/

html, body{

  height: 100%;
}
body{

    font-family: 'Source San Pro', sans-serif;
    margin:0;
    padding:0;
    font-size: 12pt;
    display : table;
    width: 100%;



}

.image{
    width:100%;
}


div, ul, li, img, header, footer, nav, body, p {
    margin:0;
    padding:0;
}


/******************************MENU********************************************/

header {
    position: relative;
    margin-bottom:80px;
}

header .menuTop {
    position:absolute;
    width: 100%;
    bottom: 0px;
    background-color:rgba(24, 24, 24, 0.89);
    z-index:1;

}
header .menuTop .menu .itemMenu /*mode d'apparition des liens*/
{
    display: inline-block;
    text-shadow: 3px 3px 6px #000000;
    position:relative;
    left:25px;
    border-bottom: 5px solid transparent;
    width: 16%;
}

header .menuTop .menu .itemMenu a /*apparence des liens*/
{
    text-decoration: none;
    color:#8c8c8c;
}

header .menuTop .menu .itemMenu .menuLink .menuLinkContent {
    text-align: center;
    height: 30px;
    padding-top: 15px;
}

header .menuTop .menu .itemMenu:hover /*apparence survol des lien*/
{
    order: solid;
    border-bottom: 5px solid  #ff7011;
}



/************************SOUS MENU*********************************************/

header .menuTop .menu .itemMenu .subMenu {
    display:none;
    position:absolute;
    top: 50px;
    left:0px;
    width:100%;
    padding-left:0px;
    list-style:none;
    background-color: #181818;

}

header .menuTop .menu .itemMenu:hover .subMenu {
    display:block;
}
header .menuTop .menu .itemMenu:hover .subMenu .itemSubMenu {
    border 1px none;
}
header .menuTop .menu .itemMenu:hover .subMenu .itemSubMenu:hover {
    border:1px solid #000;
    background-color:#2A2A2A;
}
header .menuTop .menu .itemMenu:hover .subMenu .itemSubMenu .subMenuLink .subMenuLinkContent {
    padding:6%
}




/**************************MENU CONNEXION/INSCRIPTION***************************/
.C_I {
    position: absolute;
    text-align:right;
    z-index: 1;
    background-color: rgba(33, 33, 33, 0.85);
    margin: 2%;
    top: 0px;
    right: 0px;
}
.C_I ul li /*mode d'apparition des liens*/
{
    display: inline-block;
    font-size:80%;
    text-shadow: 2px 2px 4px #000000;
}
.C_I ul a /*apparence des liens*/
{
    text-decoration: none;
    color:#2b2b2b;
}
.C_I ul a .btnC_I {
    width: 100px;
    text-align: center;
    padding: 10% 0px;
    color: #FFF;
}
.C_I ul a .btnC_I:hover {
    background-color: #353535;
}



/**************************************DECONNEXION MON COMPTE ARTICLE*******************/



.D_MC {
    position: absolute;
    text-align:right;
    z-index: 1;
    background-color: rgba(33, 33, 33, 0.85);
    margin: 2%;
    top: 0px;
    right: 0px;
}
.D_MC ul li /*mode d'apparition des liens*/
{
    display: inline-block;
    font-size:80%;
    text-shadow: 2px 2px 4px #000000;
}
.D_MC ul a /*apparence des liens*/
{
    text-decoration: none;
    color:#2b2b2b;
}
.D_MC ul a .btnD_C {
    width: 100px;
    text-align: center;
    padding: 10% 0px;
    color: #FFF;
}
.D_MC ul a .btnD_C:hover {
    background-color: #353535;
}


/*****************************SOUS MENU MON COMPTE****************************************/


.D_MC .D_MC_Sub {




  display:none;
  position:absolute;

  list-style:none;
  background-color: #181818;
    text-align: center;
  text-align: center;

}

.D_MC ul li:hover .D_MC_Sub {

  display:block;



}

.D_MC ul li:hover .D_MC_Sub li{
  float: none;


}




 /**************************TITRE***********************************************/

header .titre {
    position: fixed;
    position: absolute;
    top: 395px;
    left: 130px;
    z-index: 1;
    font-family:'Agency FB','Bit Trip7 (sRB)', 'calibri', sans-serif;
    font-size:3em;
    color:rgb(33, 31, 33);
    text-shadow: 1px 1px rgb(135, 128, 128);

}



header .O {

    position: fixed;
    position: absolute;
    top: 350px;
    left: 65px;
    z-index: 1;
    font-family:'13_Misa','Bit Trip7 (sRB)', 'calibri', sans-serif;
    font-size: 5em;
    color:rgb(33, 31, 33);
    text-shadow: 1px 1px rgb(181, 171, 171);
  }

/***********************************************FOOTER**********************************FOOTER****************************FOOTER************************************************/

footer {
  background-color: rgba(4, 4, 4, 0.89) ;

    height:200px;
    position: relative;
    top: 90px;
    z-index:1;






}

/*********************Contact/partenaires**************************************/

.basGauche{
    width: 10%;
    float: left;
    margin-top:2%;
    line-height:33px;
    margin-left:3%;
}

.basGauche .contact a {

  color:rgb(228, 119, 18);

}

.basGauche .partenaires a {
  color: white;
}

.basGauche a:hover{
font-style: italic;
}


/**************Login Register**************************************************/
.L_F  {
  float:right;
  margin-top:2%;
  line-height:33px;
  margin-right:3%;


}

.L_F ul{

list-style-type: none;

}

.L_F ul li a{
  color:white;
  text-decoration: none;
  padding:0,10px;
}

.L_F ul li a:hover{

  color:rgb(228, 119, 18);
  background-color: #f4f4f4;
}
/****************Menu**********************************************************/

.menuFooter{

    display: block;
    width: 15%;
    float:right;
    position: relative;
    bottom: 70px;



}

.menuFooter ul a {

  text-decoration: none;
  color:white;
  text-shadow: 2px 2px #1c1b1b;

}

.menuFooter ul li{

  list-style-type: none;
  line-height:30px;
}

.menuFooter ul li a:hover {

text-decoration: underline;
color:rgb(228, 119, 18);

}

/************************NewsLetter********************************************/

.InscN{
  width: 20%;
  position: absolute;
  left: 40%;
  top: 33%
}

.InscN .champs .Newsletter{

  width: 23%auto;
  position: absolute;
  right: 390px;
  color:rgb(228, 119, 18);
}

.InscN .champs .Newsletter a{
  color
}


.phrase{
  color:rgb(251, 251, 251);
}
.phrase a{
  color:rgb(228, 119, 18);
}



/*********************Droits***************************************************/

.copyright{

  background: rgb(21, 21, 22);
position:absolute;
bottom:0px;
width: 100%;

}

.copyright .copy{

  display: inline;
  position: relative;
  left: 40%;
  color: rgb(235, 237, 241);
  word-spacing: 4px;
}

.copyright .copy a{

  text-decoration: none;
  color:rgb(235, 237, 241);


}
.copyright .copy a:hover{

  color:rgb(228, 118, 38);

}





/******************************************CLEAR AFTER*************************/
.clear:after {

    content:"";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;}
