/*************************************OBJECTIF************************************************************************/

.pageObjectif{
    margin-bottom:15%;
}

.pageObjectif .titre_Ob{

position:relative;
left:40%;
right:40%;

color:#232121;

}

/*.pageObjectif .titre_Ob .lesObjectifs{


}*/

.pageObjectif .lesObjectifs .plateformeEchange{

    position:relative;
    width:200px;
    height:100px;
    left:50%;
    margin-left:-100px;


}
