/*****************************************************************************************************************/
@import url(http://fonts.dafont.com/css?family=Prestige Elite Std:300,400,700|Play:400,700);

/*********************************************CONNEXION************************************************************/

.FormCon{

  display: block;
  position: relative;
  left: 35%;
  width: 22%;
  background: rgb(55, 55, 55);
   border:1px solid #000000;
  padding:2%;
  text-align: center;
  margin-bottom:100px;
  color:rgb(233, 128, 31);
  }


.barre{
  width: 100%;
  background-color:orange;
}




.MDP{
  position: relative;
  top:34px;
  margin-bottom: 65px;
}

.MDP p{
  position: relative;
  bottom:15px;
}

input{

  background-color: rgb(226, 224, 223);


}

.valider{


}

.MDPforgot a{
color:rgb(210, 153, 55);
font-size: 10px;
position: relative;
right: 140px;
top:30px;

}
.MDPforgot a:hover{
  font-style: italic;
}


/*********************************************ACCUEIL***************************************************************/


.contenu{

  font-size: 300px;
  width: 80%;
  position: relative;
  left:20%;
  color: rgb(126, 126, 126);
  opacity: 0.1;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;

}


/*************************************OBJECTIF************************************************************************/

.image{
  width: 100%;

}

h1{

  width: 300px;
  position:relative;
  left:50%;
  top: 60px;
  margin-bottom:200px;
  font-family:'Prestige Elite Std';

}


.pageObjectif .titre_Ob{

    color:rgb(61, 60, 58);

    /*margin:auto;
    padding-top: 5%;
    padding-bottom:5%;*/

    width: 80%;
}

.objectifIcons{
    padding-bottom: 30px;
}


.objectifIcons .objectifIcon{

    width: 33%;
    float: left;

}

.objectifIcons .objectifIcon img{

    width: 200px;
    height:200px;
    display: block;
    margin:0 auto;

}

.objectifIcons .objectifIcon p{

    text-align: center;
    font-size: 20px;
    color:rgb(224, 130, 36);



}
.arrow{

    background-color: #20201f;

}
.arrow .spaceArrow img{

    margin:0 auto;

}


.arrow .spaceArrow{
    float: left;
    width: 33%;
    height: 24px;
}

.objectifTexts{
    background-color: rgb(32, 32, 31);
}


.objectifTexts .objectifText {

    width: 85%;
    margin:0 auto;
    padding-bottom: 50px;

}

.objectifTexts .objectifText p{

    float:left;
    padding-top: 25px;
    width: 60%;
    color:rgb(244, 238, 231)

}

.objectifTexts .objectifText .imageObjectif{
    width: 40%;
    float:left;
}

.echange, .actu, .participatif{
    display:none;

}

.echange.activ, .actu.activ, .participatif.activ {

    display: block;
}


/*******************************************************************DESINCRIPTION NEWS LETTER*************************************************/


.champDNews {

border-width: 2px;
border-color: rgb(8, 9, 9);

}


/***************************************************************************CREER ARTICLE*******************************************************/
.creerArticle{

  width: 35%;
  position: relative;
  left: 33%;
  display: block;


}

.titreArticle{
  color:rgb(30, 31, 30);
  position: relative;
  left:33%;
  width: 5%;
  margin-bottom:25px;

}
