

/*************************************OBJECTIF************************************************************************/

.image{
  width: 100%;

}

h1{

  width: 200px;
  position:relative;
  left:850px;
  top: 60px;
  margin-bottom:200px;

}


.pageObjectif .titre_Ob{

    color:rgb(61, 60, 58);
    width: 2000px;
    /*margin:auto;
    padding-top: 5%;
    padding-bottom:5%;*/
    font-size:80%;


}

.objectifIcons{
    padding-bottom: 30px;
}


.objectifIcons .objectifIcon{

    width: 33%;
    float: left;

}

.objectifIcons .objectifIcon img{

    width: 200px;
    height:200px;
    display: block;
    margin:0 auto;

}

.objectifIcons .objectifIcon p{

    text-align: center;
    font-size: 20px;
    color:rgb(224, 130, 36);



}
.arrow{

    background-color: #20201f;

}
.arrow .spaceArrow img{

    margin:0 auto;

}


.arrow .spaceArrow{
    float: left;
    width: 33%;
    height: 24px;
}

.objectifTexts{
    background-color: rgb(32, 32, 31);
}


.objectifTexts .objectifText {

    width: 85%;
    margin:0 auto;
    padding-bottom: 50px;

}

.objectifTexts .objectifText p{

    float:left;
    padding-top: 25px;
    width: 60%;
    color:rgb(244, 238, 231)

}

.objectifTexts .objectifText .imageObjectif{
    width: 40%;
    float:left;
}

.echange, .actu, .participatif{
    display:none;

}

.echange.activ, .actu.activ, .participatif.activ {

    display: block;
}


/*******************************************************************DESINCRIPTION NEWS LETTER*************************************************/


.champDNews {

border-width: 2px;
border-color: rgb(8, 9, 9);

}
